build-1-project-Desktop_Qt_5_14_2_MinGW_64_bit-Debug
build-1-project-Desktop_Qt_5_14_2_MinGW_64_bit-Release
build-2-server-Desktop_Qt_5_14_2_MinGW_64_bit-Debug
build-2-server-Desktop_Qt_5_14_2_MinGW_64_bit-Release
Client-4.17
Server-4.17
